body {
    background: linear-gradient(45deg, #051e1e, #9daea5); #9daea5;
    color: #CCD9D2;
    height: 100vh;
}
#02090b


.a13{
border: 2px solid blue;

}

.container {
max-width: 1400px;
margin:auto;
position:relative;
display:flex;
justify-content: center;
text-align: center;
flex-direction: column;
height: 100vh;
}

.content {
display:flex;
justify-content: center;
text-align: left;
flex-direction: column;
}

.content_a {
position: relative;
left:40%;
}

h2 {
    font-family: 'Arial', sans-serif;
}

td,
th {
font-family: Arial, Helvetica, sans-serif;
}

td a {
color: #fff;
}}