<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Edition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2> Update </h2>
    <form method="POST" action="/author/{{ author_name }}/">
        {{ form.hidden_tag() }}
      <div class="content_a">
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
        <input type="submit" value="Enter">
    </div>
    </form>
</body>
</html>